version: 2.1

parameters:
  run_integration_tests:
    type: boolean
    default: true
  run_update_image_snapshot:
    type: boolean
    default: false

executors:
  my-executor:
    docker:
      - image: circleci/node:latest-browsers

workflows:
  version: 2
  integration_tests:
    when: << pipeline.parameters.run_integration_tests >>
    jobs:
      - test
  update_image_snapshot:
    when: << pipeline.parameters.run_update_image_snapshot >>
    jobs:
      - update_image_snapshot

jobs:
  test:
    executor: my-executor
    steps:
      - checkout
      - run: echo ${CIRCLE_BRANCH}
      - run: node --version
      - run: yarn
      - run: yarn run test:e2e-on-ci

  # you can run that on command
  # curl -u {$CIRCLE_API_USER_TOKEN}: \
  #   -X POST \
  #   -H "Content-Type: application/json" \
  #   -d '{"branch":"develop","parameters":{"run_integration_tests":false,"run_update_image_snapshot":true}}' \
  #   https://circleci.com/api/v2/project/gh/tamaritamari/puppeteer-nuxt/pipeline

  update_image_snapshot:
    executor: my-executor
    steps:
      - checkout
      - run: echo "you are succeed trigger job by api"