version: 2.1
executors:
  my-executor:
    docker:
      - image: circleci/node:latest-browsers

jobs:
  build:
    executor: my-executor
    steps:
      - checkout
      - run: echo ${CIRCLE_BRANCH}
      - run: node --version
      - run: yarn
      - run: yarn run test:e2e-on-ci
  update_image_snapshot:
    executor: my-executor
    steps:
      - checkout
      - run: echo "you are succeed trigger job by api"